.container {
  background-color: #111111;
  height: auto;
  width: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.imagens {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texto {
  font-size: 1.5rem;
  margin-top: 1.25rem;
}

.pontos {
  animation: piscarPontos 1s infinite;
}

.lugia {
  height: auto;
  width: auto;
}

.pokebola {
  animation: rodarPokebola 0.5s linear infinite;
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes rodarPokebola {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes piscarPontos {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
