.navbar {
  color: white;
  display: flex;
  justify-content: center;
  gap: 3rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  opacity: 0.95;
  z-index: -1;
  filter: blur(1px);
}

.itemsNavbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  opacity: 0.8;
}

.itemsNavbar li a {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  opacity: 0.8;
}

.itemsNavbar li a:hover {
  transform: translateY(-3px);
  color: #e0e0e0;
  opacity: 1;
}

.redesSociais {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.redesSociaisItems {
  display: inline-flex;
  align-items: center;
  height: min-content;
  width: min-content;
  border-radius: 9999px;
  padding: 0.5rem;
  line-height: 0;
  transition: background-color 0.2s;
}

.redesSociaisItems:hover {
  background-color: #2d2f31;
}

.redesSociaisSVG {
  height: 1.5rem;
  width: 1.5rem;
  fill: #e0e0e0;
}

.logo {
  justify-content: center;
  display: flex;
  width: auto;
  height: auto;
  animation: balancoLogo 3s infinite ease-in-out;
  transition: filter 0.8s ease;
}

.logo:hover {
  filter: grayscale(80%);
}

@keyframes balancoLogo {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
