.container {
  display: flex;
  align-items: center;
}

.terminalHeader {
  background-color: #111827;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
  display: flex;
  gap: 0.3rem;
}

.terminalBody {
  padding: 1.25rem;
  font-family: monospace;
  font-size: 0.68rem;
  color: white;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: 20rem;
}

.terminal {
  width: 100%;
  min-width: 38rem;
  min-height: 25rem;
  max-width: 38rem;
  border-radius: 0.5rem;
  background-color: #1f2937;
}

.terminalPonto {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 9999px;
}

.pontoVermelho {
  background-color: #ef4444;
}

.pontoAmarelo {
  background-color: #f59e0b;
}

.pontoVerde {
  background-color: #10b981;
}

.textoVerde {
  color: rgb(74 222 128);
}

.textoAzul {
  color: rgb(96 165 250);
}

.textoCinza {
  color: rgb(156 163 175);
}

.textoVermelho {
  color: #ef4444;
}

.textoAmarelo {
  color: #fef08a;
}

.textoBranco {
  color: white;
}
